.posted-events-container {
    display: grid;
    margin: 2%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px 100px;
}

.new-event {
    background-color: #345eeb;
    color: white;
    text-decoration: none;
    margin-left: 3rem;
    border-radius: 5px;
    text-decoration: none;
}

.new-event {
    padding: 1%;
    border: none;
    border-radius: 5px;
    margin-top: 2%;
}

.link-add {
    text-decoration: none;
    color: white;
}
