.post-events-container {
    display: flex;
    width: 30%;
    flex-direction: column;
    padding: 5% 2%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1%;
    background-color: white;
    border: 1px solid gray;
}

.post-events-page {
    height: 100%;
    width: 100%;
    padding: 2%;
}

.post-events-form {
    width: 100%;
}

.form-section {
    width: 100%;
    margin-top: 4%;
}

.form-input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 0;
    color: rgba(0, 0, 0, 70%);
    font-size: 1rem;
}

.form-header-title {
    color: rgba(0, 0, 0, 75%);
    margin-bottom: 0.5%;
}

.form-input:focus {
    outline: none;
    border-bottom: 2px solid rgb(61, 173, 76);
    /* Add animation slide in */
    border-image: linear-gradient(to right, #348feb, #1f2720) 1;
}

.post-event-submit {
    margin-top: 5%;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    background-color: #395fdb;
    border: none;
}

.post-event-submit:hover {
    cursor: pointer;
    background-color: #1742d1;
}

.submit-section {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
